html {
  font-size: 16px;
  padding: 20px
}
body {
  background-color: white;
  color: #282929;
  margin: 1.25rem;
  padding: .00625rem;
  font-size: 1rem;
  font-style: normal;
  font-weight: lighter;
  font-family: 'Raleway', sans-serif;

}
.nav{
  list-style-type: none;
  list-style: none;
  background-color: #282929;
  color: white;
  font-family:'Raleway', sans-serif;
  font-size: .95rem;
  position:fixed;
  float: left;
  width: 11rem;
  height: 16rem;
  margin-top: 4rem;
  margin-left: .00625rem;
  border-radius:1rem;
  z-index: 50;

}
.navlinks{
  margin-top: 1rem;
  margin-left:1rem;
  margin-right:1rem;

}
.nav ul li{
  list-style-type: none;
  list-style: none;
  text-decoration: none;
}

.navlinks a{
  color:white;
  margin-top: 1rem;
}
.navlinks a:link {
  color:white;
  text-decoration:none;
}
.navlinks a:hover{
  text-decoration: underline;
  color:white;

}


main{
  margin-top: 4rem;
  margin-left:14rem;
  margin-right:14rem;
  z-index:20;
}

h1 {
  background-color: white;
  color: #7F0000;
  font-family: 'Taviraj', serif;
  font-size: 3rem;
  font-weight:normal;
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
  width:100%;
  height: 5rem;
  margin:0;
  z-index: 32;

}
h2, h3, h4, h5, h6 {
  color: black;
  font-family: 'Taviraj', serif;
  font-size:2rem;
  font-weight: normal;
  margin-top: auto;
}

p a {
  color:#570000;
}
